# Ketergantungan dari Composer
/vendor/

# Kredensial & File Rahasia
.env
.env.*
*.env
*-firebase-adminsdk-*.json
# File Database Dump
*.sql

# Folder Upload Pengguna
/admin/uploads/

# File spesifik Editor & Sistem Operasi
/.vscode/
.DS_Store
Thumbs.db

# File Log
*.log