# Ketergantungan dari Composer
/vendor/

# Kredensial & File Rahasia
/user/casual-steps-118-firebase-adminsdk-fbsvc-adf0d10297.json
/user/firebase_config.js

# File Database Dump
*.sql

# Folder Upload Pengguna
/admin/uploads/

# File spesifik Editor & Sistem Operasi
/.vscode/
.DS_Store
Thumbs.db

# File Log
*.log