# Ketergantungan dari Composer
/vendor/

# Kredensial & File Rahasia
.env
.env.*
*.env
casual-steps-118-firebase-adminsdk-fbsvc-adf0d10297.json
# File Database Dump
*.sql

# Folder Upload Pengguna
/admin/uploads/

# File spesifik Editor & Sistem Operasi
/.vscode/
.DS_Store
Thumbs.db

# File Log
*.log